{% extends 'music/base.html' %}
{% block page_title %} Album-Details {% endblock %}
{% block start_body %}
   

<div class="container-fluid songs-container">
    <div class="row">

        <!--Left Album Info-->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'music:details' album.id %}">
                       <img src="{{ album.album_logo.url }}" class="img-responsive">
                        
                    </a>

                    <h1>
                        {{ album.album_title}}
                        <small>{{ album.genre }}</small>
                    </h1>
                    <h2> {{ album.artist }}</h2>
                </div>
            </div>
        </div>

        <!--Right song info-->
        <div class="col-sm-8 col-md-9">
            <ul class="nav nav-pills" >
                <li class="active"> <a href="{% url 'music:details' album.id %}"> View All</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>All Songs</h3>

                    <table class="table">
                        <therad>
                            <tr>
                                <th>Title</th>
                                <th>Audio File</th>
                                <th>Favorite</th>
                                <th>Actions</th>

                            </tr>
                        </therad>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
 <img src="{{ album.album_logo.url }}" />
    <h1>{{album.album_title}}</h1>
    <h2>{{album.artist}}</h2>

        {% for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{song.id}}" />
            <label for=" song{{ forloop.counter}}">
                {{ song.song_title}}
                {% if song.is_favorite is True %}
                    <img src="../../../app/static/music/images/star.png" />
                {% endif %}
            </label><br>
        {% endfor %}

{% endblock %}


